[Desktop Entry]
Version=1.0
Type=Application
Name=XML editor
Name[fr]=Éditeur de fichiers XML
Name[en]=XML files editor
GenericName=XML Editor
Comment=Edit xml files
TryExec=xml-editor
Exec=xml-editor %U
Icon=xml-editor.svg
Terminal=false
Categories=Application;Utility;
